<div class="content" role="main">
    <!--controls-->
    <a routerLink="/"><button mat-fab color="primary" id="backButton"><i class="arrow left"></i></button></a>
    
    <div class=card-con>
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="controls-header-image"></div>
          <mat-card-title>Controls</mat-card-title>
          <mat-card-subtitle>Control the bot</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          bind text
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Start</button>
          <button mat-raised-button color="warn">Reset</button>
        </mat-card-actions>
      </mat-card>
  
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="botinfo-header-image"></div>
          <mat-card-title>Bot info</mat-card-title>
          <mat-card-subtitle>bot info bind text</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          info
        </mat-card-content>
      </mat-card>
    </div>
</div>  